.header{
	background-color: navy;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul{

	display: flex;
	gap: 50px;
	list-style: none;
	font-size: 20px;

}
.About{
	background-color: gray ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Projects{
	background-color: navy;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}



